﻿@model WarehouseApp.ViewModels.CustomerViewModel

@{
   
    var grid = new WebGrid(
        Model.Customers,
        rowsPerPage: 10,
        ajaxUpdateContainerId: "gridContent"
    );

}


@{

    <div>

        <div class="container" style="margin-top: 40px; margin-bottom: -20px">
            <div class="form-group">
                <div class="input-group">
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @id = "WebGridForm" }))
                    {

                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Customer Name" name="CustomerName" >
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>

                    }
                    <br />
                </div>
            </div>
        </div>


        <br />

        @grid.GetHtml(
                    mode: WebGridPagerModes.All,
                    tableStyle: "table table-striped table-condensed table-responsive table-hover",
                    rowStyle: "table-row-clickable",
                    footerStyle: "table-pager",
                    columns: grid.Columns(
                                     grid.Column("Id", "Customer ID"),
                                     grid.Column("Name", "Customer Name"),
                                     grid.Column("Quantity", "Quantity")
                               )
                             )

    </div>
}

@section scripts
{
   <script type="text/javascript">
   setTimeout(function(){
    location = ''
  },120000)
   </script>
}